In [78]:
# import dependencies
import pathlib as path
import numpy as np
import pandas as pd

In [99]:
# export csv into dataframe
df_export = pd.read_csv("Resources/coffee_exports.csv")
df_export

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,all_years
0,Angola,84,71,80,39,8,41,52,50,54,...,8,8,6,9,11,11,9,9,23,722
1,Bolivia (Plurinational State of),156,74,96,47,84,94,123,111,97,...,74,63,55,62,30,22,26,22,20,2291
2,Brazil,16936,21183,18791,17838,17273,14468,15251,16801,18144,...,33806,28549,31651,37335,37563,34269,30925,35637,40698,786432
3,Burundi,585,688,646,418,508,528,224,529,374,...,218,392,195,252,230,204,169,202,293,10770
4,Cameroon,2611,1752,1646,705,546,407,564,1368,746,...,490,622,272,375,390,281,245,287,250,23332
5,Central African Republic,197,141,100,137,137,232,98,203,102,...,78,78,1,75,43,80,18,39,19,2845
6,Colombia,13944,12599,16564,13568,11768,9814,10588,10919,11260,...,7734,7170,9670,10954,12716,12831,12985,12808,13672,331308
7,Congo,2,1,0,1,1,19,13,3,0,...,0,0,0,0,0,0,0,0,0,40
8,Costa Rica,2266,2400,2431,2364,2105,2067,2430,2099,2045,...,1243,1374,1344,1209,1128,1007,987,1208,1039,49864
9,CÃ´te d'Ivoire,4283,3805,4546,4033,2444,2494,2751,4713,4365,...,772,1712,1962,1489,1418,1432,855,1522,2104,78694
10,Cuba,182,121,163,116,136,122,112,107,152,...,10,15,12,13,13,15,15,33,22,1862
11,Democratic Republic of Congo,1839,1418,954,920,761,1051,882,544,640,...,132,146,140,151,128,171,89,188,205,12926
12,Dominican Republic,535,476,369,331,332,451,453,307,360,...,89,137,65,45,19,19,24,32,27,5268
13,Ecuador,1784,1416,1273,1599,2145,1540,1539,1045,1056,...,1532,1580,1262,1129,869,923,695,483,506,32862
14,El Salvador,2510,2148,2120,2947,2093,1807,2314,2772,1684,...,1826,1044,1103,462,576,496,527,571,546,45283
15,Equatorial Guinea,7,3,3,2,1,3,2,1,2,...,0,0,0,0,0,0,0,0,0,25
16,Ethiopia,1074,841,734,1167,1475,1276,1838,1980,1917,...,2675,3203,2870,3117,2985,3001,3773,3589,3921,69389
17,Gabon,2,3,1,2,5,3,2,0,2,...,1,0,0,0,0,0,0,0,0,30
18,Ghana,11,16,32,47,11,38,4,30,18,...,72,30,23,26,40,27,17,12,10,894
19,Guatemala,3240,2832,3328,3751,3274,3701,3979,4244,3542,...,3697,3750,3575,3043,2961,2991,3383,3327,3613,107739
20,Guinea,122,61,58,15,50,152,32,114,228,...,385,377,134,24,152,250,216,157,69,6619
21,Guyana,0,0,1,0,0,0,0,0,0,...,1,2,1,13,2,2,1,1,1,40
22,Haiti,191,151,166,159,103,152,156,101,127,...,9,11,8,3,3,1,2,2,2,1801
23,Honduras,1735,1444,1960,1705,1718,1796,2060,1722,2329,...,3947,5508,4185,4252,5030,5306,7341,7144,6765,99414
24,India,1979,1727,1816,2102,2496,2467,3103,2640,3487,...,5414,5044,5033,5131,5262,6086,6542,5967,6028,115566
25,Indonesia,6903,6171,4604,5662,4605,3947,6440,5755,5598,...,3920,8206,9255,6175,8379,6545,8198,4539,6334,176799
26,Jamaica,15,17,22,24,16,26,27,30,17,...,16,15,15,10,12,11,10,10,9,587
27,Kenya,1969,1558,1384,1439,1358,1450,1902,1159,841,...,609,803,815,799,712,727,710,753,836,29523
28,Lao People's Democratic Republic,98,98,102,142,153,165,144,110,112,...,421,360,400,370,403,386,386,361,575,7627
29,Liberia,22,0,0,0,0,0,0,0,3,...,8,3,4,1,4,3,11,8,1,128
30,Madagascar,863,588,736,628,436,585,718,480,796,...,144,79,166,138,59,76,58,6,4,8402
31,Malawi,124,100,128,104,78,92,60,60,59,...,26,20,29,26,18,22,13,12,16,1389
32,Mexico,3683,3531,3332,3264,2789,3626,4633,4502,3399,...,2907,3556,3132,2480,2458,2233,2911,2888,2627,93800
33,Nepal,0,0,0,0,0,0,0,0,0,...,4,1,1,1,2,2,1,2,1,26
34,Nicaragua,671,392,636,476,624,681,822,714,941,...,1468,1987,1661,1901,1753,1963,2449,2300,2954,39806
35,Nigeria,4,1,11,10,8,15,7,7,10,...,7,2,1,1,3,1,3,3,2,190
36,Panama,132,124,125,129,76,181,139,124,145,...,53,51,49,51,50,56,50,47,51,2692
37,Papua New Guinea,1051,788,917,1055,1157,1002,1090,1043,1349,...,1225,925,811,807,711,1133,794,870,787,30235
38,Paraguay,263,120,40,58,48,21,16,35,19,...,0,0,0,0,0,0,0,0,0,779
39,Peru,1105,1042,1061,775,1057,1760,1679,1648,1949,...,4697,4310,3736,2720,2790,3960,3946,4064,3772,81732
40,Philippines,168,103,41,35,126,57,27,31,21,...,10,3,6,12,15,13,9,4,7,874
41,Rwanda,779,474,645,481,30,314,265,218,214,...,277,251,254,256,263,244,246,350,389,9645
42,Sierra Leone,140,104,47,41,62,71,29,47,42,...,37,65,57,24,54,26,35,27,47,1501
43,Sri Lanka,19,22,15,14,47,22,12,21,27,...,2,0,0,2,0,1,2,2,1,267
44,Tanzania,1019,871,828,1037,632,745,970,655,742,...,798,756,935,718,709,905,664,856,1069,23872
45,Thailand,1001,541,1164,982,1136,1210,873,1066,778,...,243,350,49,27,578,131,141,258,174,16177
46,Timor-Leste,0,0,0,0,0,0,0,0,0,...,39,56,70,111,68,68,86,129,117,1134
47,Togo,239,155,313,218,166,200,85,313,166,...,155,147,91,134,178,75,27,111,58,4857
48,Trinidad & Tobago,30,8,2,10,5,4,4,4,5,...,0,1,2,2,2,2,2,3,2,108
49,Uganda,2353,2095,1961,1829,3369,3079,4655,3502,3286,...,3142,2685,3672,3442,3596,3543,4774,4223,4526,93870
50,Venezuela,278,128,136,525,386,97,495,105,268,...,0,2,6,0,1,0,0,72,53,4021
51,Viet Nam,1145,1201,1938,2072,2721,3546,3779,6178,6467,...,17717,22920,19718,26097,21944,29721,25092,31385,27400,415408
52,Yemen,50,72,37,51,93,77,42,80,71,...,35,63,55,57,52,38,46,42,12,1687
53,Zambia,24,29,31,23,24,21,36,39,33,...,9,7,10,5,3,10,13,26,27,1271
54,Zimbabwe,251,239,162,70,32,157,150,109,153,...,5,4,2,11,11,12,2,5,6,2268
55,Total,80675,75943,78299,75166,70710,67876,77670,80439,80243,...,102185,108444,108567,115548,116396,121334,119519,126598,131694,2836697

In [80]:
#find dtypes
df_export.dtypes

country      object
1990          int64
1991          int64
1992          int64
1993          int64
1994          int64
1995          int64
1996          int64
1997          int64
1998          int64
1999          int64
2000          int64
2001          int64
2002          int64
2003          int64
2004          int64
2005          int64
2006          int64
2007          int64
2008          int64
2009          int64
2010          int64
2011          int64
2012          int64
2013          int64
2014          int64
2015          int64
2016          int64
2017          int64
2018          int64
2019          int64
all_years     int64
dtype: object

In [81]:
#find sum duplicated country values
df_export.country.duplicated().sum()

0

In [82]:
# drop columns to reflect most recent 10 years. And remove all_years column.
df_export2 = df_export.drop(columns=['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997','1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', 'all_years'])
df_export2.head()

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,4,8,8,6,9,11,11,9,9,23
1,Bolivia (Plurinational State of),78,74,63,55,62,30,22,26,22,20
2,Brazil,33167,33806,28549,31651,37335,37563,34269,30925,35637,40698
3,Burundi,307,218,392,195,252,230,204,169,202,293
4,Cameroon,794,490,622,272,375,390,281,245,287,250

In [84]:
# convert to kg count (originally in thousands of 60kg bags)
df_export3 = df_export2.select_dtypes(exclude=['object']) * 60000
df_export3.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,240000,480000,480000,360000,540000,660000,660000,540000,540000,1380000
1,4680000,4440000,3780000,3300000,3720000,1800000,1320000,1560000,1320000,1200000
2,1990020000,2028360000,1712940000,1899060000,2240100000,2253780000,2056140000,1855500000,2138220000,2441880000
3,18420000,13080000,23520000,11700000,15120000,13800000,12240000,10140000,12120000,17580000
4,47640000,29400000,37320000,16320000,22500000,23400000,16860000,14700000,17220000,15000000

In [87]:
#convert from kg to lbs
df_export4 = df_export3 * 2.20462
df_export3.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,240000,480000,480000,360000,540000,660000,660000,540000,540000,1380000
1,4680000,4440000,3780000,3300000,3720000,1800000,1320000,1560000,1320000,1200000
2,1990020000,2028360000,1712940000,1899060000,2240100000,2253780000,2056140000,1855500000,2138220000,2441880000
3,18420000,13080000,23520000,11700000,15120000,13800000,12240000,10140000,12120000,17580000
4,47640000,29400000,37320000,16320000,22500000,23400000,16860000,14700000,17220000,15000000

In [88]:
#show in millions lbs
df_export5 = df_export4 / 1000000
df_export5.head()

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0.529109,1.058218,1.058218,0.793663,1.190495,1.455049,1.455049,1.190495,1.190495,3.042376
1,10.317622,9.788513,8.333464,7.275246,8.201186,3.968316,2.910098,3.439207,2.910098,2.645544
2,4387.237892,4471.763023,3776.381783,4186.705657,4938.569262,4968.728464,4533.007367,4090.672410,4713.962576,5383.417486
3,40.609100,28.836430,51.852662,25.794054,33.333854,30.423756,26.984549,22.354847,26.719994,38.757220
4,105.028097,64.815828,82.276418,35.979398,49.603950,51.588108,37.169893,32.407914,37.963556,33.069300

In [89]:
# Assign country names to new df
df_export6 = df_export2.drop(columns=['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019'])
df_export6.head()

                            country
0                            Angola
1  Bolivia (Plurinational State of)
2                            Brazil
3                           Burundi
4                          Cameroon

In [95]:
# combine country name and counts by millions lbs into one df
df_exports_by_country = pd.concat([df_export6, df_export5], axis=1, join='inner')
df_exports_by_country

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Angola,0.529109,1.058218,1.058218,0.793663,1.190495,1.455049,1.455049,1.190495,1.190495,3.042376
1,Bolivia (Plurinational State of),10.317622,9.788513,8.333464,7.275246,8.201186,3.968316,2.910098,3.439207,2.910098,2.645544
2,Brazil,4387.237892,4471.763023,3776.381783,4186.705657,4938.569262,4968.728464,4533.007367,4090.672410,4713.962576,5383.417486
3,Burundi,40.609100,28.836430,51.852662,25.794054,33.333854,30.423756,26.984549,22.354847,26.719994,38.757220
4,Cameroon,105.028097,64.815828,82.276418,35.979398,49.603950,51.588108,37.169893,32.407914,37.963556,33.069300
5,Central African Republic,12.566334,10.317622,10.317622,0.132277,9.920790,5.687920,10.582176,2.380990,5.158811,2.513267
6,Colombia,1034.672258,1023.031865,948.427524,1279.120524,1448.964449,1682.036875,1697.248753,1717.619442,1694.206378,1808.493878
7,Congo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,Costa Rica,158.732640,164.420560,181.748873,177.780557,159.923135,149.208682,133.203140,130.557596,159.790858,137.436011
9,CÃ´te d'Ivoire,252.914006,102.117998,226.458566,259.527866,196.960751,187.569070,189.420950,113.097006,201.325898,278.311229
10,Cuba,0.661386,1.322772,1.984158,1.587326,1.719604,1.719604,1.984158,1.984158,4.365148,2.910098
11,Democratic Republic of Congo,21.428906,17.460590,19.312471,18.518808,19.973857,16.931482,22.619401,11.772671,24.868114,27.116826
12,Dominican Republic,5.423365,11.772671,18.121976,8.598018,5.952474,2.513267,2.513267,3.174653,4.232870,3.571484
13,Ecuador,158.997194,202.648670,208.997976,166.933826,149.340959,114.948887,122.091856,91.932654,63.889888,66.932263
14,El Salvador,143.123930,241.538167,138.097397,145.901752,61.112066,76.191667,65.609491,69.710084,75.530281,72.223351
15,Equatorial Guinea,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Ethiopia,439.689413,353.841510,423.683872,379.635564,412.308032,394.847442,396.963877,499.081876,474.742871,518.658901
17,Gabon,0.132277,0.132277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,Ghana,0.925940,9.523958,3.968316,3.042376,3.439207,5.291088,3.571484,2.248712,1.587326,1.322772
19,Guatemala,458.737330,489.028808,496.039500,472.890990,402.519520,391.672789,395.641105,447.493768,440.086244,477.917524
20,Guinea,53.704543,50.926722,49.868504,17.725145,3.174653,20.106134,33.069300,28.571875,20.767520,9.127127
21,Guyana,0.132277,0.132277,0.264554,0.132277,1.719604,0.264554,0.264554,0.132277,0.132277,0.132277
22,Haiti,1.190495,1.190495,1.455049,1.058218,0.396832,0.396832,0.132277,0.264554,0.264554,0.264554
23,Honduras,442.996343,522.098108,728.582818,553.580082,562.442654,665.354316,701.862823,971.046925,944.988317,894.855258
24,India,614.692148,716.148761,667.206197,665.751148,678.714313,696.042626,805.039039,865.357442,789.298052,797.366962
25,Indonesia,726.069551,518.526624,1085.466703,1224.225486,816.811710,1108.350659,865.754274,1084.408486,600.406211,837.843785
26,Jamaica,1.984158,2.116435,1.984158,1.984158,1.322772,1.587326,1.455049,1.322772,1.322772,1.190495
27,Kenya,70.239193,80.556815,106.218592,107.805918,105.689483,94.181366,96.165524,93.916812,99.604732,110.583739
28,Lao People's Democratic Republic,38.095834,55.688701,47.619792,52.910880,48.942564,53.307712,51.058999,51.058999,47.752069,76.059390
29,Liberia,0.925940,1.058218,0.396832,0.529109,0.132277,0.529109,0.396832,1.455049,1.058218,0.132277
30,Madagascar,9.788513,19.047917,10.449899,21.958015,18.254254,7.804355,10.053067,7.672078,0.793663,0.529109
31,Malawi,1.058218,3.439207,2.645544,3.836039,3.439207,2.380990,2.910098,1.719604,1.587326,2.116435
32,Mexico,330.428446,384.529820,470.377723,414.292190,328.047456,325.137358,295.374988,385.058929,382.016554,347.492204
33,Nepal,0.132277,0.529109,0.132277,0.132277,0.132277,0.264554,0.264554,0.132277,0.264554,0.132277
34,Nicaragua,226.458566,194.182930,262.834796,219.712429,251.458957,231.881932,259.660144,323.946863,304.237560,390.746849
35,Nigeria,0.396832,0.925940,0.264554,0.132277,0.132277,0.396832,0.132277,0.396832,0.396832,0.264554
36,Panama,8.598018,7.010692,6.746137,6.481583,6.746137,6.613860,7.407523,6.613860,6.217028,6.746137
37,Papua New Guinea,122.885519,162.039570,122.356410,107.276809,106.747700,94.049089,149.870068,105.028097,115.081164,104.102156
38,Paraguay,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,Peru,504.902072,621.306008,570.114732,494.187619,359.793984,369.053388,523.817712,521.965831,537.574541,498.949598
40,Philippines,0.793663,1.322772,0.396832,0.793663,1.587326,1.984158,1.719604,1.190495,0.529109,0.925940
41,Rwanda,39.154051,36.640784,33.201577,33.598409,33.862963,34.788904,32.275637,32.540191,46.297020,51.455831
42,Sierra Leone,7.672078,4.894256,8.598018,7.539800,3.174653,7.142969,3.439207,4.629702,3.571484,6.217028
43,Sri Lanka,0.264554,0.264554,0.000000,0.000000,0.264554,0.000000,0.132277,0.264554,0.264554,0.132277
44,Tanzania,73.546123,105.557206,100.001563,123.679182,94.975030,93.784535,119.710866,87.832061,113.229283,141.404327
45,Thailand,48.942564,32.143360,46.297020,6.481583,3.571484,76.456222,17.328313,18.651085,34.127518,23.016233
46,Timor-Leste,8.994850,5.158811,7.407523,9.259404,14.682769,8.994850,8.994850,11.375839,17.063759,15.476432
47,Togo,26.190886,20.502966,19.444748,12.037225,17.725145,23.545342,9.920790,3.571484,14.682769,7.672078
48,Trinidad & Tobago,0.132277,0.000000,0.132277,0.264554,0.264554,0.264554,0.264554,0.264554,0.396832,0.264554
49,Uganda,351.460520,415.614962,355.164282,485.721878,455.298122,475.668811,468.658120,631.491353,558.606616,598.686607
50,Venezuela,2.513267,0.000000,0.264554,0.793663,0.000000,0.132277,0.000000,0.000000,9.523958,7.010692
51,Viet Nam,1882.172279,2343.555152,3031.793424,2608.241830,3452.038088,2902.690877,3931.410661,3319.099502,4151.519922,3624.395280
52,Yemen,5.820197,4.629702,8.333464,7.275246,7.539800,6.878414,5.026534,6.084751,5.555642,1.587326
53,Zambia,2.380990,1.190495,0.925940,1.322772,0.661386,0.396832,1.322772,1.719604,3.439207,3.571484
54,Zimbabwe,0.925940,0.661386,0.529109,0.264554,1.455049,1.455049,1.587326,0.264554,0.661386,0.793663
55,Total,12836.973151,13516.745682,14344.668677,14360.938772,15284.365906,15396.536971,16049.721785,15809.638667,16746.028966,17420.113577

In [96]:
# Create new all_years column for 10 year time span
col = df_exports_by_country.loc[: , "2010":"2019"]
df_exports_by_country['all_years'] = col.sum(axis=1)
df_exports_by_country.head()

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,all_years
0,Angola,0.529109,1.058218,1.058218,0.793663,1.190495,1.455049,1.455049,1.190495,1.190495,3.042376,12.963166
1,Bolivia (Plurinational State of),10.317622,9.788513,8.333464,7.275246,8.201186,3.968316,2.910098,3.439207,2.910098,2.645544,59.789294
2,Brazil,4387.237892,4471.763023,3776.381783,4186.705657,4938.569262,4968.728464,4533.007367,4090.672410,4713.962576,5383.417486,45450.445920
3,Burundi,40.609100,28.836430,51.852662,25.794054,33.333854,30.423756,26.984549,22.354847,26.719994,38.757220,325.666466
4,Cameroon,105.028097,64.815828,82.276418,35.979398,49.603950,51.588108,37.169893,32.407914,37.963556,33.069300,529.902463

In [103]:
df_exports_by_country_volume = df_exports_by_country.sort_values(by=['all_years'], ascending=False)
df_exports_by_country_volume.head(11)

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,all_years
55,Total,12836.973151,13516.745682,14344.668677,14360.938772,15284.365906,15396.536971,16049.721785,15809.638667,16746.028966,17420.113577,151765.732153
2,Brazil,4387.237892,4471.763023,3776.381783,4186.705657,4938.569262,4968.728464,4533.007367,4090.672410,4713.962576,5383.417486,45450.445920
51,Viet Nam,1882.172279,2343.555152,3031.793424,2608.241830,3452.038088,2902.690877,3931.410661,3319.099502,4151.519922,3624.395280,31246.917016
6,Colombia,1034.672258,1023.031865,948.427524,1279.120524,1448.964449,1682.036875,1697.248753,1717.619442,1694.206378,1808.493878,14333.821946
25,Indonesia,726.069551,518.526624,1085.466703,1224.225486,816.811710,1108.350659,865.754274,1084.408486,600.406211,837.843785,8867.863488
24,India,614.692148,716.148761,667.206197,665.751148,678.714313,696.042626,805.039039,865.357442,789.298052,797.366962,7295.616689
23,Honduras,442.996343,522.098108,728.582818,553.580082,562.442654,665.354316,701.862823,971.046925,944.988317,894.855258,6987.807644
39,Peru,504.902072,621.306008,570.114732,494.187619,359.793984,369.053388,523.817712,521.965831,537.574541,498.949598,5001.665486
49,Uganda,351.460520,415.614962,355.164282,485.721878,455.298122,475.668811,468.658120,631.491353,558.606616,598.686607,4796.371272
19,Guatemala,458.737330,489.028808,496.039500,472.890990,402.519520,391.672789,395.641105,447.493768,440.086244,477.917524,4472.027578
16,Ethiopia,439.689413,353.841510,423.683872,379.635564,412.308032,394.847442,396.963877,499.081876,474.742871,518.658901,4293.453358

In [110]:
# limit to top ten countries by all-years volume
df_exports_by_country_top_ten = df_exports_by_country_volume.drop(55)
df_exports_by_country_top_ten = df_exports_by_country_top_ten.head(10)
df_exports_by_country_top_ten

,country,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,all_years
2,Brazil,4387.237892,4471.763023,3776.381783,4186.705657,4938.569262,4968.728464,4533.007367,4090.672410,4713.962576,5383.417486,45450.445920
51,Viet Nam,1882.172279,2343.555152,3031.793424,2608.241830,3452.038088,2902.690877,3931.410661,3319.099502,4151.519922,3624.395280,31246.917016
6,Colombia,1034.672258,1023.031865,948.427524,1279.120524,1448.964449,1682.036875,1697.248753,1717.619442,1694.206378,1808.493878,14333.821946
25,Indonesia,726.069551,518.526624,1085.466703,1224.225486,816.811710,1108.350659,865.754274,1084.408486,600.406211,837.843785,8867.863488
24,India,614.692148,716.148761,667.206197,665.751148,678.714313,696.042626,805.039039,865.357442,789.298052,797.366962,7295.616689
23,Honduras,442.996343,522.098108,728.582818,553.580082,562.442654,665.354316,701.862823,971.046925,944.988317,894.855258,6987.807644
39,Peru,504.902072,621.306008,570.114732,494.187619,359.793984,369.053388,523.817712,521.965831,537.574541,498.949598,5001.665486
49,Uganda,351.460520,415.614962,355.164282,485.721878,455.298122,475.668811,468.658120,631.491353,558.606616,598.686607,4796.371272
19,Guatemala,458.737330,489.028808,496.039500,472.890990,402.519520,391.672789,395.641105,447.493768,440.086244,477.917524,4472.027578
16,Ethiopia,439.689413,353.841510,423.683872,379.635564,412.308032,394.847442,396.963877,499.081876,474.742871,518.658901,4293.453358

In [111]:
file_path = "Resources/coffee_exports_top_ten_lbs.csv"
df_exports_by_country_top_ten.to_csv(file_path, index=False)